.quote-box {
    display: flex;
    flex-direction: column;
    width: 34%;
    margin: 10px 25px 0 0;
    justify-content: center;
    align-items: flex-end;
}

.rate-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
    

    .tag {
        font-size: 12px;
        font-weight: bold;
        color: #5c6cff;
        padding-right: 8px;
    }

    .rate {
        display: flex;
        align-items: flex-start;

        .dolla {
            padding-top: 4px;
            font-size: 16px;
        }

        .number {
            font-size: 28px;
            padding-right: 5px;
        }
        
    }
    
    .per {
        color: #959595;
        font-size: 14px;
        font-weight: bold;
    }
}