.app {
    margin: 25px auto 10px auto;
    width: 50vw;

    .banner-text {
        font-size: 14px;
        letter-spacing: 0.015em;
    }

    button:focus {
        outline: none;
    }
}

@media screen and (max-width: 675px) {
    .app {
        width: 90vw;
    }
}