.card {
    margin-top: 10px;
    border: solid 1px lightgray;
    width: 100%;
    border-radius: 5px;
    min-height: 100px;
}

.corner-box {
    display: flex;
    flex-direction: row;
}

.corner {
    width: 50px;
    height: 50px;
    background-color: #5c6cff;
    border-top-left-radius: 5px;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    padding: 5px;
}

.corner-logo {
    width: 60px;
    height: 50px;
    margin: 25px 25px 25px -10px;
}

.card-logo {
    width: 60px;
    height: 50px;
    margin: 25px 25px 25px 40px;
}