.carrier-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 25px 0 0 15px;

    .carrier {
        font-weight: 600;
    }

    .tagline {
        color: #959595;
        font-size: 13px;
    }

    .details {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        
        .star-box {
            padding-right: 15px;
            max-height: 15px;
        }

        .feature-icon {
            width:20px;
            height: 20px;
            margin-right: 2px;
        }
    }
}