.carrier {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: 25px;

    .logo {
        width: 60px;
        height: 50px;
        margin-right: 25px;
    }

    .carrier-details {
        display: flex;
        flex-direction: column;

        .carrier-name {
            font-weight: 600;
            margin-bottom: 5px;
        }

        .tagline {
            color: #959595;
            font-size: 13px;
        }

        .stars-icons {
            display: flex;
            flex-direction: row;
            
            .star-box {
                margin: 5px 15px 5px 0;
                max-height: 15px;
            }

            .icons-box {
                margin: 5px 15px 5px 0;
            }

            .feature-icon {
                width: 20px;
                height: 20px;
                margin-right: 2px;
            }
        }
    }
}

@media screen and (max-width: 675px) {
    .carrier {
        width: 80%;
        
        .carrier-details {
            align-items: center;

            .stars-icons {
                flex-direction: column;
                align-items: center;
            }
        }
    }

}